{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block title %}{{ parent ()}}  | S'inscrire {% endblock %}

{% block body %}

    {{ form_start(registrationForm, {attr:{class:'m-auto w-50'}}) }}
        <h1 class="h1 text-center">Inscription :</h1>
        {{ form_widget(registrationForm) }}
        <button type="submit" class="btn btn-light">S'inscrire</button>
    {{ form_end(registrationForm) }}

{% endblock %}
