{% extends 'base.html.twig' %}

{% block title %}{{ parent ()}}  | Mon Profil {% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <h2>Mon Profil</h2>
{% endblock %}

{% block footer %}{% endblock %}