body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to top, #601f73 0%, #006964 100%);
    background-size: cover;
    background-attachment: fixed;
    color: #EEE;
    font-family: 'Crimson Pro', serif;
}

footer {
    margin: 30px;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}


img {
    max-width: 100%;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header img {
    height: 90px;
    margin-top: 20px;

}

main {
    flex: 1;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem;
}




.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.flash-success {background-color: lawngreen}

.Main_menu {
    width: 100%;
    height: 100px;
    background-color: #181818;
    lefT: 0;
    top: 0;
    right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.a_logout {

    transition: color 1s, background-color 1s;
}

.a_logout:hover {
    color: #cc3e2c;
}

.Main_menu a {
    color: #809096;
    text-decoration: none;
}

.Main_menu a:hover {
     color: #05fdd8;
}

.Menu-logo {
    width: 120%;
    text-align: center;
    padding: 0;
    margin-bottom: 0;



}

.Menu_nav a {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.6rem;
    color: #909096;
    line-height: 5rem;
    transition: color 1s, background-color 1s;
}





/* Formulaire Login */

.Login_Form {
    display: flex;
    height: 600px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 5%;
    background: #181818;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.Login_Form form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 30px;
}

/* Titre et texte */

.Login_Form h1 {
    padding: 0 0 20px 0;
    text-align: center;
    color: #006964;
    border-bottom: 1px solid #006964;
    font-weight: 700;
}

.Text_Login {
    padding: 0 0 20px 0;
    text-align: center;
}


/* Animations des inputs */

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
    width: 100%;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 20px;
    color: #05fdd8;
    border: none;
    background: none;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #006964;
    transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #05fdd8;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    width: 100%;
    border: none;
    background: none;
    outline: none;

}


/* Animation de connection */

.btn1 button {
    position: relative;
    width: 100%;
    background: #222;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    transition: ease-out 0.3s;
    outline: none;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;



}

.btn1 button:hover {
    box-shadow: 0 5px 30px rgba(0,0,0,.2);
    cursor: pointer;
}

.btn1 button:after {
    position: absolute;
    content: '';
    left: 80px;
    top: 0;
    height: 800%;
    width: 120%;
    transition: all .5s ease-in-out;
}

.btn1 button:after{
    background: #006964;
    transform: translate(-98%, -25%) rotate(45deg);

}

.btn1:hover button:after {
    transform: translate(-15%, -25%) rotate(45deg);
}

button span{
    position: relative;
    z-index: 1;
}

.Forget_Remember {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* liens */

.Text_Login a {
    color: #006964;
}

.Text_Login a:hover {
    color: #05fdd8;
}

.Forget_Mdp a {
    color: #006964;
}

.Forget_Mdp a:hover{
    color: #05fdd8;
}

.Text_Login {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Forget_Mdp {
    display: flex;
}

/* Side de droite */
.side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0;
    overflow: hidden;

}
.side img {
    width: 500px;
}

/* Formulaire créer sortie */

.Container_Form_sortie {
    height: 600px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 5%;
    background: #181818;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.Sortie_Form {
    display: flex;
    margin-top: 30px;
    justify-content: center;

}

.Sortie_Form form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 30px;
    margin-right: 30px;
}

.Side_droite_sortie form {
    display: flex;
    flex-direction: column;
}

/* Titre */

.Container_Form_sortie h1 {
    flex-direction: row;
    padding: 20px 0 20px 0;
    text-align: center;
    color: #006964;
    border-bottom: 1px solid #006964;
    font-weight: 700;
}

/* Animations des inputs */



.Sortie_Form input{

    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
}

.Sortie_Form textarea{

    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
}

.Sortie_Form label{

    left: 5px;
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
}

/* Boutons */

.Sortie_btn {
    flex-direction: row;
    margin-top: 30px;
    padding: 20px 0 20px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.btn1sortie {
    width: 150px;
    height: 40px;
    border: none;
    background: none;
    color: white;
    transition: ease-out 0.3s;
    outline: none;
    border: 3px solid #006964;
    position: relative;
    z-index: 1;
}

.btn1sortie:hover {
    color: white;
    cursor: pointer;
}
.btn1sortie:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #006964;
}

.btn1sortie:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.btn2sortie {
    width: 150px;
    height: 40px;
    border: none;
    background: none;
    color: white;
    transition: ease-out 0.3s;
    outline: none;
    border: 3px solid #31446c;
    position: relative;
    z-index: 1;
}

.btn2sortie:hover {
    color: white;
    cursor: pointer;
}
.btn2sortie:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #31446c;
}

.btn2sortie:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.btn3sortie {
    width: 150px;
    height: 40px;
    border: none;
    background: none;
    color: white;
    transition: ease-out 0.3s;
    outline: none;
    border: 3px solid #601f73;
    position: relative;
    z-index: 1;
}

.btn3sortie:hover {
    color: white;
    cursor: pointer;
}
.btn3sortie:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #601f73;
}

.btn3sortie:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

/* Page Campus */

.Campus_Admin {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    background: #181818;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.Campus_Admin h1 {
    flex-direction: row;
    padding: 20px 0 20px 0;
    text-align: center;
    color: #006964;
    border-bottom: 1px solid #006964;
    font-weight: 700;
}
/* Filtre */
.Filtrer_Campus_Admin {
    background: none;
    margin: 10px;
    padding: 5px;
    width: 50%;
}

.Filtrer_Campus_Admin h2 {
    color: #adadad;
    font-size: 1.5em;
    font-weight: bold;

}

.Filtrer_Campus_Admin label {
    color: #adadad;
    font-size: 16px;
}

.Filtrer_Campus_Admin input {
    padding: 0 5px;
    margin-left: 20px;
    height: 30px;
    font-size: 20px;
    border: none;
    outline: none;
}


.Filtrer_Campus_Admin_btn1 {
    width: 150px;
    height: 30px;
    margin-left: 20px;
    border: none;
    background: none;
    color: white;
    transition: ease-out 0.3s;
    outline: none;
    border: 3px solid #006964;
    position: relative;
    z-index: 1;
}

.Filtrer_Campus_Admin_btn1:hover {
    color: white;
    cursor: pointer;
}
.Filtrer_Campus_Admin_btn1:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #006964;
}

.Filtrer_Campus_Admin_btn1:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

/* Tableau */
.Tab_Campus_Admin {
    width: 100%;
    padding: 20px;
}


.Tab_Campus_Admin table {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;

}
.Tab_Campus_Admin thead {
    text-align: center;
    color: #006964;
    font-weight: bold;
    font-size: 1.5em;
}

.Tab_Campus_Admin tbody {
    text-align: center;

}
.Tab_Campus_Admin td {
    background: #181818;
    border: 1px solid #006964;
}

/* Page Villes */

.Villes_Admin {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    background: #181818;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.Villes_Admin h1 {
    flex-direction: row;
    padding: 20px 0 20px 0;
    text-align: center;
    color: #006964;
    border-bottom: 1px solid #006964;
    font-weight: 700;
}
/* Filtre */
.Filtrer_Villes_Admin {
    background: none;
    margin: 10px;
    padding: 5px;
    width: 50%;
}

.Filtrer_Villes_Admin h2 {
    color: #adadad;
    font-size: 1.5em;
    font-weight: bold;

}

.Filtrer_Villes_Admin label {
    color: #adadad;
    font-size: 16px;
}

.Filtrer_Villes_Admin input {
    padding: 0 5px;
    margin-left: 20px;
    height: 30px;
    font-size: 20px;
    border: none;
    outline: none;
}


.Filtrer_Villes_Admin_btn1 {
    width: 150px;
    height: 30px;
    margin-left: 20px;
    border: none;
    background: none;
    color: white;
    transition: ease-out 0.3s;
    outline: none;
    border: 3px solid #006964;
    position: relative;
    z-index: 1;
}

.Filtrer_Villes_Admin_btn1:hover {
    color: white;
    cursor: pointer;
}
.Filtrer_Villes_Admin_btn1:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #006964;
}

.Filtrer_Villes_Admin_btn1:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

/* Tableau */

.Tab_Villes_Admin {
    width: 100%;
    padding: 20px;
}

.Tab_Villes_Admin table {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;

}
.Tab_Villes_Admin thead {
    text-align: center;
    color: #006964;
    font-weight: bold;
    font-size: 1.5em;
}

.Tab_Villes_Admin tbody {
    text-align: center;
}
.Tab_Villes_Admin td {
    background: #181818;
    border: 1px solid #006964;
}

/* Page Mon profil */
.Container_Details_profil {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    background: #181818;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.Container_Details_profil h1 {
    flex-direction: row;
    padding: 20px 0 20px 0;
    text-align: center;
    color: #006964;
    border-bottom: 1px solid #006964;
    font-weight: 700;

}

.Details_profil {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

.Details_profil img {
    width: 150px;
    height: 150px;
    margin: 30px;
    box-shadow: 0 0 20px 0 rgba(5, 253, 216, 0.2), 0 5px 5px 0 rgba(5, 253, 216, 0.24);
}

.Form_Details_profil h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 1px solid #006964;
    padding: 30px;
    margin-bottom: 30px;

}

.Form_Details_profil p {
    color: #adadad;
    font-size: 1.5rem;

}

.Form_Details_profil {
    margin: 30px;
    width: 60%;
}

.Buttons_Details_profil {
    flex-direction: row;
    margin-top: 30px;
    padding: 20px 0 20px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}


.btn1profil {
    width: 150px;
    height: 40px;
    border: none;
    background: none;
    color: white;
    transition: ease-out 0.3s;
    outline: none;
    border: 3px solid #006964;
    position: relative;
    z-index: 1;
}

.btn1profil:hover {
    color: white;
    cursor: pointer;
}
.btn1profil:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #006964;
}

.btn1profil:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.btn2profil {
    width: 150px;
    height: 40px;
    border: none;
    background: none;
    color: white;
    transition: ease-out 0.3s;
    outline: none;
    border: 3px solid #31446c;
    position: relative;
    z-index: 1;
}

.btn2profil:hover {
    color: white;
    cursor: pointer;
}
.btn2profil:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #31446c;
}

.btn2profil:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.btn3profil {
    width: 150px;
    height: 40px;
    border: none;
    background: none;
    color: white;
    transition: ease-out 0.3s;
    outline: none;
    border: 3px solid #601f73;
    position: relative;
    z-index: 1;
}

.btn3profil:hover {
    color: white;
    cursor: pointer;
}
.btn3profil:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #601f73;
}

.btn3profil:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

/*Fenêtre Modal Suppression Profil*/

.modal-content{
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-top: 15%;
    width: 50%;
}
.container_modal_delete {
    text-align: center;
    background: #181818;
    box-shadow: 0 0 20px 0 rgba(204, 62, 44, 0.2), 0 5px 5px 0 rgba(204, 62, 44, 0.24);
}
.container_modal_delete h1 {
    color: #cc3e2c;
    border-bottom: 1px solid #cc3e2c;

}

.container_modal_delete p {
    color: #cc3e2c;
    font-weight: 700;
}
/*Boutons de la Fenêtre Modal Suppression Profil*/
.Buttons_Modal_profil {
    flex-direction: row;
    margin-top: 30px;
    padding: 20px 0 20px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.cancelbtn_profil {
    width: 150px;
    height: 40px;
    border: none;
    background: none;
    color: white;
    transition: ease-out 0.3s;
    outline: none;
    border: 3px solid #31446c;
    position: relative;
    z-index: 1;
}

.cancelbtn_profil:hover {
    color: white;
    cursor: pointer;
}
.cancelbtn_profil:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #31446c;
}

.cancelbtn_profil:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.deletebtn_profil {
    width: 150px;
    height: 40px;
    border: none;
    background: none;
    color: white;
    transition: ease-out 0.3s;
    outline: none;
    border: 3px solid #cc3e2c;
    position: relative;
    z-index: 1;
}

.deletebtn_profil:hover {
    color: white;
    cursor: pointer;
}
.deletebtn_profil:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #cc3e2c;
}

.deletebtn_profil:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

/* Page Modifier Mon profil */
.Container_Modifier_profil {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    background: #181818;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.Container_Modifier_profil h1 {
    flex-direction: row;
    padding: 20px 0 20px 0;
    text-align: center;
    color: #006964;
    border-bottom: 1px solid #006964;
    font-weight: 700;

}

.Container_Modifier_profil form {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 30px;
}

.Container_Modifier_profil label {
    left: 5px;
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    margin-bottom: 10px;
}

.Container_Modifier_profil input {
    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
    margin-bottom: 10px;
}

.Container_Modifier_profil select {
    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
    margin-bottom: 10px;
}

/*Boutons de la Fenêtre Modal Suppression Profil*/
.Buttons_Modifier_profil {
    flex-direction: row;
    margin-top: 30px;
    padding: 20px 0 20px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}


.btn1ModifierProfil {
    width: 150px;
    height: 40px;
    border: none;
    background: none;
    color: white;
    transition: ease-out 0.3s;
    outline: none;
    border: 3px solid #006964;
    position: relative;
    z-index: 1;
}

.btn1ModifierProfil:hover {
    color: white;
    cursor: pointer;
}
.btn1ModifierProfil:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #006964;
}

.btn1ModifierProfil:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.btn2ModifierProfil {
    width: 150px;
    height: 40px;
    border: none;
    background: none;
    color: white;
    transition: ease-out 0.3s;
    outline: none;
    border: 3px solid #31446c;
    position: relative;
    z-index: 1;
}

.btn2ModifierProfil:hover {
    color: white;
    cursor: pointer;
}
.btn2ModifierProfil:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #31446c;
}

.btn2ModifierProfil:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

/* Page créer un Alumni */

.Container_Form_register {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    background: #181818;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.Container_Form_register h1 {
    flex-direction: row;
    padding: 20px 0 20px 0;
    text-align: center;
    color: #006964;
    border-bottom: 1px solid #006964;
    font-weight: 700;

}

.Container_Form_register form {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 30px;
}

.Container_Form_register label {
    left: 5px;
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    margin-bottom: 10px;
}

.Container_Form_register input {
    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
    margin-bottom: 10px;
}

.Container_Form_register select {
    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
    margin-bottom: 10px;
}

/*Boutons de la création Alumni*/
.Buttons_Form_register {
    flex-direction: row;
    margin-top: 30px;
    padding: 20px 0 20px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}


.btn1FormRegister {
    width: 150px;
    height: 40px;
    border: none;
    background: none;
    color: white;
    transition: ease-out 0.3s;
    outline: none;
    border: 3px solid #006964;
    position: relative;
    z-index: 1;
}

.btn1FormRegister:hover {
    color: white;
    cursor: pointer;
}
.btn1FormRegister:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #006964;
}

.btn1FormRegister:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.Container_Badge_Participant {
    display: flex;
    justify-content: end;

}

.Badge_Participant {
    position: absolute;
    width: 225px;
    background: #181818;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 10px;

}

.Badge_Participant img {
    margin-left: 25%;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 20px 0 rgba(5, 253, 216, 0.2), 0 5px 5px 0 rgba(5, 253, 216, 0.24);
}

.Container_Filtre_Home {
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 260px;
    padding: 30px;
    background: #181818;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.Container_Filtre_Home h2 {
    margin-bottom: 30px;
    color: #adadad;
    font-size: 1.5em;
    font-weight: bold;
}


.Container_Filtre_Home label {
    color: #adadad;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
}

.Container_Filtre_Home input {
    padding: 0 5px;
    margin-left: 20px;
    height: 30px;
    font-size: 20px;
    border: none;
    outline: none;
}

.Container_Filtre_Home select {
    padding: 0 5px;
    margin-left: 20px;
    height: 30px;
    font-size: 20px;
    border: none;
    outline: none;
}


/* Bouton Filtre Home*/

.btn1FiltreHome {
    width: 150px;
    height: 40px;
    border: none;
    background: none;
    color: white;
    transition: ease-out 0.3s;
    outline: none;
    border: 3px solid #006964;
    position: relative;
    z-index: 1;
}

.btn1FiltreHome:hover {
    color: white;
    cursor: pointer;
}
.btn1FiltreHome:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #006964;
}

.btn1FiltreHome:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

/* Tableau */

.Container_Tab_Home {
    margin:  auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5%;
    padding: 10px;
    background: #181818;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.Container_Tab_Home table {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;

}
.Container_Tab_Home  thead {
    text-align: center;
    color: #006964;
    font-weight: bold;
    font-size: 1.5em;
}

.Container_Tab_Home  tbody {
    text-align: center;
}
.Container_Tab_Home td {
    background: #181818;
    border: 1px solid #006964;
}

/*Bouton Créer une nouvelle sortie HOME*/
.btn1Home {
    width: 200px;
    height: 40px;
    border: none;
    background: none;
    color: white;
    transition: ease-out 0.3s;
    outline: none;
    border: 3px solid #006964;
    position: relative;
    z-index: 1;
    margin: 20px;
}

.btn1Home:hover {
    color: white;
    cursor: pointer;
}
.btn1Home:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #006964;
}

.btn1Home:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}


