{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Modifier Campus{% endblock %}

{% block body %}

    <div class="Container_Form_Create_Campus">
        <h1>Modifier le Campus :</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}

        <div class="Buttons_Form_register">
            <button type="submit" class="btn1profil">
                {{ button_label|default('Enregistrer') }}
            </button>
            <button TYPE="reset" onclick="history.back()" class="Modifier_Campus_Admin_btn1">
                Retour
            </button>
        </div>

        {{ form_end(form) }}

    </div>
{% endblock %}
