{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.prenom }}! | Campus{% endblock %}

{% block body %}


        <div class="Campus_Admin">
            <h1>Gérer les Campus</h1>
            <div class="Filtrer_Campus_Admin">
                <h2>Filtrer les sites</h2>
                <label for="">Le nom contient :
                    <input type="text">
                </label>
                <button class="Filtrer_Campus_Admin_btn1">Rechercher</button>
            </div>

            <div class="Tab_Campus_Admin">
                <table>
                    <thead>
                        <tr>
                            <th>Campus</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Nantes</td>
                        <td>Modifier - Supprimer</td>
                    </tr>
                    </tbody>
                </table>
            </div>

{% endblock %}
