{% extends 'base.html.twig' %}


{% block title %}{{ parent ()}}  | Créer un Alumni {% endblock %}

{% block body %}
    <div class="Container_Form_register">
        <h1>Nouvel Alumnus / Nouvelle Alumna :</h1>
        {{ form_start(registrationForm, {attr:{class:'m-auto w-50'}}) }}
            {{ form_widget(registrationForm) }}
        {{ form_end(registrationForm) }}
        <div class="Buttons_Form_register">
            <button type="submit" class="btn1FormRegister">
                Créer
            </button>
            <button type="reset" onclick="history.back()" class="Creer_Campus_Admin_btn1">
                Annuler
            </button>
        </div>
    </div>
{% endblock %}