{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                {{ form_start(sortieForm) }}

                {{ form_widget(sortieForm) }}
                <button class="btn-success">Enregistrer</button>

                {{ form_end(sortieForm) }}
            </div>

            <div class="col-6">
                <p>Campus</p>
                {# {{ form_row(formRandom.campus) }} #}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Créer une sortie
{% endblock %}

